
.App {
  padding: 4em;
}

.App-header  {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 3em;
  padding-bottom: 2em;
}

.App-selected-value {
  font-weight: bold;
  padding-left: 1em;
}

.App-entry {
  cursor: pointer;
  font-size: 2em;  
}

.App-entry:hover{
  background-color:cadetblue;
}

.App-entry-found  {
  background-color:aquamarine;  
  font-weight: bold;
}

input {
  min-height: 20px;
  font-size: 2em;
}

